{% extends 'base.html' %}

{% block content %}
<h1>About the Driver Collector</h1>
<hr />
<p class="page-content">
  Welcome to the Driver Collector app — a space dedicated to showcasing today’s
  top Formula 1 drivers. From world champions to rising stars, you’ll find
  profiles, stats, and fun facts all in one place.  
</p>
<p class="page-content">
  This project was built to practice Django development while celebrating the
  excitement of Formula 1 racing. Helmet on, lights out, and let’s go racing!
</p>
{% endblock %}